<div class="center jumbotron">
  <h1>Medical App</h1>

  
  <h2>
    This is the home page for the
    <a href="#">Medical app</a>
  </h2>

  <%=link_to "新規登録", signup_path, class: "btn btn-lg btn-primary"%>
  </div>